@model IEnumerable<UserForm>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var i in Model)
{
    <div>
        @i.Name
    </div>
    <div>
       @{
           var base64 = Convert.ToBase64String(i.Image);
           var img = string.Format("data:image/jpg;base64, {0}", base64);

       }
       <img src="@img" width="200" height="200"/>

    </div>
}